.w-20{
    width:20%;
}
.w-30{
    width:30%;
}
.logo-text{
    width:100px;
}
.bi{
    margin-right:10px;
}
.story{
    height: 90px;
}
.dp{
    width:40px;
    margin-top:5px;
    margin-right:5px;
}
.image{
    height:300px;
    width:400px;
}
.Suggestion{
    width:75%;
}
.Suggestion h5{
    font-size: 19px;
}
.Suggestion .dp{
    margin-top: 0 !important;
}
.text{
    padding:50px;
}
.gradient-border {
  width: 45px;
  height: 45px;
  display: flex;
  border-radius: 50%;
  background: linear-gradient(
      #feda75,
      #fa7e1e,
      #d62976,
      #962fbf,
      #4f5bd5
  ); /* Instagram gradient colors */
  display: flex;
  justify-content: center;
  align-items: center;
}
.story-dp {
    width:40px;
    
}
.profile{
    width:100px;
    height: 100px;
}
.chat-hover:hover {
  background: #f7f7f7;
  cursor: pointer;
}
